.home-container {
  padding: 40px 20px;
  text-align: center;
  min-height: 100vh;
  background: linear-gradient(135deg, #ffffff, #fefefe); /* light background for contrast */
}

.home-header {
  font-size: 36px;
  font-weight: bold;
  color: maroon;
  margin-bottom: 50px;
}

.cards-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 30px;
}

.glass-card {
  background: linear-gradient(135deg, rgba(244, 192, 200, 0.925), rgba(243, 209, 232, 0.25));
  border-radius: 12px;
  padding: 50px 40px;
  width: 220px;
  min-height: 130px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: transform 0.3s, box-shadow 0.3s, border 0.3s;
  color: #4b2c2c;
  font-weight: bold;
  font-size: 18px;
  border: 2px solid rgba(255, 255, 255, 0.35);
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
}

.glass-card h3 {
  text-align: center;
  margin: 0;
  
}

.glass-card:hover {
  transform: scale(1.08);
  box-shadow: 0 12px 30px rgba(0, 0, 0, 0.25);
  border: 2px solid #4b2c2c; /* shining orange border */
}

@media (max-width: 768px) {
  .glass-card {
    width: 45%;
    padding: 40px 25px;
  }
}

@media (max-width: 480px) {
  .glass-card {
    width: 90%;
    padding: 35px 20px;
  }
}
